* {
    padding: 0%;
    margin: 0;
}
article {
    margin: auto;
    .info {
        width: 60%;
        margin: auto;
        @media screen and (max-width: 1330px) {
            width: 80%;
        }
        .details {
            margin: auto;
            display: flex;
            position: relative;
            align-items: center;
            h1 {
                font-family: poppinsSB;
                font-weight: 600;
                font-size: 42px;
                width: 90%;
                margin-right: 200px;
                &::before {
                    content: "";
                    width: 2px;
                    background-color: gray;
                    height: 170px;
                    position: absolute;
                    right: 50%;
                    top: 10px;
                    margin-left: 100px;
                }
                @media screen and (max-width: 1330px) {
                    font-size: 30px;
                    margin-right: 10px;
                    width: 500px;
                    &::before{
                        height: 120px;
                    }
                }
            }
            @media screen and (max-width: 1330px) {
                p{
                    width: 500px;
                    margin-left: 100px;
                }
            }
        }
        .container {
            margin: 100px auto;
            .items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .items__content {
                    width: 300px;
                    flex: 0 0 auto;
                    width: 25%;
                    .img {
                        margin-bottom: 20px;
                    }
                    .app__info__features__detail {
                        h3 {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
