
#header .container{
    max-width: 1940px;
    max-height: 1140px;
    /* height: 90vw; */
    padding-left: 5.5rem;
    padding: 0;
    position: relative;
}

#header .topRight{
    width: 13%;
    height: 50vh;
    background-color: #b4d3d3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
#header .navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem;
    z-index: 3;
}
#header .navbar .left{
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
}
#header .navbar .left a{
    padding-left: 5rem;
}
#header .navbar .left .menu{
    max-width: none;
    overflow: hidden;
}
#header .iconMenu{
    width: 20px;
    height: 14px;
    cursor: pointer;
}
#header .navbar .center{
    width: 20%;
    display: flex;
}
#header .navbar .center a{
    margin: auto;
}
#header .navbar .right{
    width: 30%;
    display: flex;
}
#header .navbar .right img{
    margin-left: auto;
}
@media (max-width: 572px){
    #header .navbar .left{
        width: 20%;
    }
    #header .navbar .center{
        width: 60%;
    }
    #header .navbar .right{
        width: 20%;
    }
    #header .navbar .center img{
        width: 150px;
    }
    #header .navbar .left .menu{
        position: absolute;
        flex-direction: column;
        top: 10rem;
        background: #ffffff;
        width: 50%;
        border-radius: 0 0 10px 10px;
        box-shadow: 2px 5px 8px #888888;
    }
    #header .navbar .left .menu a{
        display: block;
        width: 100%;
        padding: 2rem;
    }
}
#header .content{
    width: 100%;
    max-height: 1083px;
    display: flex;
    position: relative;
    top: 0;
}
#header .content .left{
    width: 50%;
    height: 80%;
    padding: 0 0 0 5.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
#header .bg-holder{
    width: 40%;
    max-height: 1083px;
    height: 55vw;
    background: #e2e8e8;
    position: absolute;
    z-index: 2;
}
#header .bg-holder .item-img{
    position: relative;
    width: 100%;
    height: 100%;
}
#header .bg-holder .item-img img{
    width: 100%;
    position: absolute;
    bottom: 0;
}
#header .icons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5.5rem;
}
#header .icon{
    width: 16px;
    height: 16px;
    margin-bottom: 3.5rem;
}
#header .profile-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 482px;
    width: 65%;
    max-height: 113px;
    height: 8vw;
    background-color: #b4d3d3;
    text-align: center;
    display: flex;
}
#header .profile-btn p{
    font-size: 1.4rem;
    font-weight: 800;
    color: #ffffff;
    width: 80%;
    align-items: center;
    justify-content: center;
}
#header .profile-btn a{
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    margin-left: auto;
}
#header .icon-user{
    margin: auto;
}
#header .content .center{
    width: 50%;
    padding-right: 5rem;
    max-width: 63rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#header .content .item-content{
    width: 100%;
    margin-top: 25rem;
}
#header .item-content h3{
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.6em;
}
#header .item-content h3::first-letter{
    float: left;
    font-size: 8rem;
    line-height: 1em;
    padding-right: 8px;
    font-weight: 300;
}
#header .item-content p{
    font-size: 1.6rem;
    color: rgb(119,119,126);
    padding-top: 5rem;
    line-height: 2.3em;
    letter-spacing: 0;
}
#header .content .box-bot{
    margin-top: 5rem;
    background: #1a1a1d;
    width: 100%;
    padding: 9.5rem 11rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    letter-spacing: 0;
}
#header .content .box-bot span{
    font-style: italic;
    font-weight: 800;
}

@media (max-width: 768px){
    #header .navbar .left .menu{
        max-width: 0;
    }
    #header .icon{
        width: 12px;
        height: 12px;
    }
    #header .icon >img{
        width: 100%;
    }
    #header .icon-user img{
        width: 12px;
    }
}
@media (max-width: 572px){
    #header .navbar .left{
        width: 20%;
    }
    #header .navbar .center{
        width: 60%;
    }
    #header .navbar .right{
        width: 20%;
    }
    #header .navbar .center img{
        width: 150px;
    }
    #header .bg-holder{
        display: none;
    }
    #header .content{
        width: 100%;
    }
    #header .content .left{
        display: none;
    }
    #header .content .center{
        width: 80%;
        margin: auto;
    }
}
/* Center */
#talent .container{
    padding: 0 30px;
    padding-top: 70px;
    max-width: 1742px;
    margin: auto;
    align-items: center;
}
#talent .nav-item{
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 900;
    color: rgb(105,105,112)
}
#talent .top{
    align-items: center;
}
#talent .layout {
    margin-left: auto;
    margin-right: 0;
    min-width: 80px;
    align-items: center;
}
#talent .layout a{
    display: block;
    margin-left: 20px;
    opacity: 0.5;
}
#talent .layout a.selected{
    opacity: 1;
}
#talent .navbar .selected{
    transition: color 0.25s;
    color: rgb(26,26,29);
    border-bottom: 2px solid #000000;
}
#talent .content{
    padding-top: 8rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#talent .content > a{
    width: 25%;
}
#talent .item{
    width: 100%;
    position: relative;
}
#talent .item > img{
    width: 100%;
}
#talent .item .item-btn{
    width: 58px;
    height: 58px;
    background-color: #b4d3d3;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 21px;
    display: none;
}
#talent .item .item-content{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    color: #ffffff;
    display: none;
}
#talent .item-content h3{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 18px;
}
#talent .item-content p{
    font-weight: 800;
    font-size: 1.2rem;
}
#talent .content .selected > img{
    background-color: rgba(45, 47, 51,0.5);
    filter: brightness(50%);
}
#talent .content .selected > *{
    display: block;
}
#talent .bottom{
    padding: 58px 0;
}
#talent .bottom a{
    display: block;
    width: 226px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    background-color: #b4d3d3;
    color: #ffffff;
    border-radius: 63px;
    font-weight: 800;
    font-size: 14px;
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
    #talent .layout img{
        width: 12px;
    }
}
@media (max-width: 576px) {
    #talent .content > a{
        width: 50%;
    }
}
/*footer*/
#footer .container{
    max-width: 1802px;
    margin: auto;
    margin-top: 16rem;
}
#footer .top{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 1px solid #f5f5f5;
}
#footer .top .left{
    margin-right: auto;
}
#footer .top p::before{
    position: absolute;
    top: -20px;
    left: -4.6rem;
    display: block;
    content: "";
    width: 2px;
    height: 44px;
    background-color: #b4d3d3;
}
#footer .top p{
    position: relative;
    padding: 0 4.6rem;
}
#footer .bottom{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 1px solid #f5f5f5;
}
#footer .bottom .left{
    margin-right: auto;
    color: rgb(119,119,126);
    font-size: 1.5rem;
}
#footer .bottom .icon{
    width: 16px;
    height: 16px;
    margin-left: 3.6rem;
}