#header .container{
    max-width: 1920px;
    max-height: 1140px;
    padding-left: 5.5rem;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#header .topRight{
    width: 40%;
    height: 60vh;
    max-height: 723px;
    background-color: #b4d3d3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
#header .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem;
}
#header .navbar .left{
    width: 40%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
}
#header .navbar .left .menu{
    max-width: none;
    overflow: hidden;
}
#header .navbar .left a{
    padding-left: 5rem;
}
#header .iconMenu{
    width: 20px;
    height: 14px;
    cursor: pointer;
}
#header .navbar .center{
    width: 20%;
    display: flex;
}
#header .navbar .center a{
    margin: auto;
}
#header .navbar .right{
    width: 40%;
    display: flex;
}
#header .navbar .right img{
    margin-left: auto;
}
@media (max-width: 768px){
    #header .navbar .left .menu{
        max-width: 0;
    }
}
@media (max-width: 572px){
    #header .navbar .left{
        width: 20%;
    }
    #header .navbar .center{
        width: 60%;
    }
    #header .navbar .right{
        width: 20%;
    }
    #header .navbar .center img{
        width: 150px;
    }
}
#header .content{
    margin-top: 10vh;
    display: flex;
}
#header .content .left{
    width: 16.666667%;
    max-height: 815px;
    padding: 0 0 0 5.5rem;
    display: flex;
    flex-direction: column;
}
#header .content .icons{
    margin-bottom: 10rem;
}
#header .content .icon{
    width: 16px;
    height: 16px;
    margin-bottom: 3.5rem;
}
#header .content .slide-num{
    display: flex;
    margin: auto;
    margin-left: -6px;
    align-items: center;
    transform: rotate(-90deg);
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}
#header .content .slash{
    content: "";
    height: 1px;
    width: 5rem;
    background-color: #000000;
    margin-left: 5rem;
    transition: width 1s ease;
    position: absolute;
}
#header .content .profile-btn{
    margin-top: auto;
    width: 100%;
    height: 11.3rem;
    background-color: #b4d3d3;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    line-height: 11.3rem;
}
#header .content .center{
    width: 58.333333%;
    height: 815px;
    background-color: #e2e8e8;
    position: relative;
}
#header .center .item-img{
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#header .center .item-img img{
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
}
#header .center .slider{
    position: absolute;
    height: 100%;
    width: 100%;
}
#header .center .hero1{
    height: 50%;
    max-width: 0;
    transition: max-width 1s ease;
    background: #ffffff;
}
#header .center .hero2{
    height: 50%;
    max-width: 0;
    transition: max-width 1s ease;
    background: #ffffff;
}
#header .content .info{
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    left: -80px;
    max-width: 500px;
    top: 50%;
    transform: translateY(-50%);
    
}
.info h2{
    display: inline-block;
    font-size: 10.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.1em;
    position: relative;
    letter-spacing: 0;
    margin-bottom: 8rem;
    left: 0;
    padding-right: 20%;
}
.info h2::after{
    content: "";
    position: absolute;
    bottom: 0.2em;
    right: 3rem;
    display: block;
    width: 6rem;
    height: 1.1rem;
    background-color: #ffffff;
    z-index: 10;
}
.info p{
    font-size: 1.7rem;
    font-weight: 700;
}
#header .content .play-btn{
    display: flex;
    width: 11.2rem;
    height: 11.3rem;
    line-height: 11.3rem;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
}
#header .content .play-btn img{
    margin: auto;
}

#header .content .right{
    margin-top: auto;
    width: 25%;
    height: 362px;
}
#header .right .paging{
    position: relative;
    padding: 70px;
}
#header .right .paging p{
    padding: 20px;
    color: rgb(105, 105, 112);
    font-size: 1.2rem;
    font-weight: 700;
}
#header .right .paging .selected{
    font-weight: 800;
    display: flex;
    align-items: center;
}
#header .right .paging .slash{
    display: block;
    position: absolute;
    top: 95px;
    content: "";
    height: 1px;
    width: 50px;
    background-color: #000000;
    margin-left: 100px;
    transition: top 1s ease-in-out;
}

@media (max-width: 1200px){
    #header .content .center{
        height: 600px;
    }
}
@media (max-width: 992px) {
    #header .content .right{
        display: none;
    }
    #header .content .left{
        width: 30%;
    }
    #header .content .center{
        width: 70%;
    }
}

@media (max-width: 768px) {
    #header .content .center{
        height: 400px;
    }
    #header .content .play-btn img{
        width: 12px;
    }
    #header .content .icon img{
        width: 12px;
    }
}
@media (max-width: 572px){
    #header .content .icons{
        display: none;
    }
    #header .content .center{
        height: 300px;
    }
    .info h2{
        font-size: 5rem;
        margin-bottom: 2rem;
    }
} 
/* Center */

#talent .container{
    padding-top: 70px;
    max-width: 1682px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#talent .nav-item{
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 900;
    color: rgb(105,105,112)
}
#talent .navbar .selected{
    transition: color 0.25s;
    color: rgb(26,26,29);
    border-bottom: 2px solid #000000;
}
#talent .content{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#talent .content > a{
    width: 25%;
}
#talent .item{
    width: 100%;
    position: relative;
}
#talent .item > img{
    width: 100%;
}
#talent .item .item-btn{
    width: 58px;
    height: 58px;
    background-color: #b4d3d3;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 21px;
    display: none;
}
#talent .item .item-content{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    color: #ffffff;
    display: none;
}
#talent .item-content h3{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 18px;
}
#talent .item-content p{
    font-weight: 800;
    font-size: 1.2rem;
}
#talent .content .selected > img{
    background-color: rgba(45, 47, 51,0.5);
    filter: brightness(50%);
}
#talent .content .selected > *{
    display: block;
}
#talent .bottom{
    padding: 5.8rem 0;
}
#talent .bottom a{
    display: block;
    width: 22.6rem;
    height: 6.3rem;
    line-height: 6.3rem;
    text-align: center;
    background-color: #b4d3d3;
    color: #ffffff;
    border-radius: 6.3rem;
    font-weight: 800;
    font-size: 1.4rem;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
    #talent .content > a {
        width: 50%;
    }
}
/*news*/
#news .container{
    margin-top: 100px;
    max-width: 1740px;
    padding: 0 3rem;
}
#news .head{
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    position: relative;
}
#news .head h2{
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0em;
}
#news .head::after{
    display: block;
    position: absolute;
    bottom: 0;
    right: 50%;
    content: "";
    width: 153px;
    height: 3px;
    background-color: #242424;
    transform: translateX(50%);
}
#news .new4{
    width: 50%;
    max-height: 425px;
    padding-right: 5rem;
    height: 30vw;
}
#news .new4 .newImg{
    width: 100%;
    max-height: 290px;
    height: 80%;
    overflow: hidden;
    margin-bottom: auto;
}
#news .new4 .newImg img{
    width: 100%;
}
#news .new4 .newContent{
    display: flex;
    height: 20%;
    flex-direction: column;
    padding-left: 0;
    width: 100%;
}
#news .left{
    width: 66.666667%;
    padding-right: 5rem;
}
#news .top{
    width: 100%;
    margin-bottom: 5rem;
}
#news .bottom{
    width: 100%;
}
#news .bot-left{
    width: 100%;
    padding-top: 5rem;
}
#news .trend{
    max-height: 524px;
    height: 40vw;
    width: 100%;
    position: relative;
    background-color: #e2e8e8;
    display: inline-flex;
    overflow: hidden;
}
#news .trend .itemContent{
    height: 100%;
    max-width: 422px;
    width: 40%;
    padding: 5.5rem;
    background-color: #b4d3d3;
    display: flex;
}
#news .trend .info{
    margin-top: auto;

}
#news .trend .info h3{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 30px;
}
#news .trend .info p{
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(119,119,126);
}
#news .trend .itemImg{
    height: 100%;
    max-width: 686px;
    overflow: hidden;
    position: absolute;
    right: 0;
}

#news .trend .itemImg img{
    position: relative;
    height: 100%;
    width: auto;
}
#news .trendTag{
    width: 21rem;
    height: 6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    line-height: 6rem;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.4rem;
    font-weight: 800;
}
#news .rightSld{
    display: flex;
    flex-direction: column;
    width: 33.333333%;
    /* height: 100%; */
}
#news .img-gallery{
    width: 100%;
    height: 100%;
}
#news .rightSld .itemImg{
    margin: auto;
    width: 100%;
    height: 85%;
    background: #e2e8e8;
    overflow: hidden;
    position: relative;
}
#news .itemImg img{
    width: 100%;
    position: absolute;
    bottom: 0;
}
#news .rightSld .itemInfo{
    margin-top: auto;
    margin-bottom: 0;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#news .rightSld h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
}
#news .rightSld p{
    margin-top: auto;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(119,119,126);
}
#news .dot{
    width: 7px;
    height: 7px;
}
#news .flickity-page-dots .dot.is-selected {
    width: 15px;
    height: 15px;
}
#news .rightSld .gallery-cell{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#news .flickity-prev-next-button {
    display:none;
}
#news .rightSld .flickity-page-dots {
    position: absolute;
    bottom: 20%;
}
#news .vidSld{
    width: 50%;
    max-height: 425px;
    height: 30vw;
    position: relative;
    background: #a8a8a8;
}
#news .vid-gallery{
    height: 100%;
}
#news .vid-gallery .gallery-cell{
    height: 100%;
}
#news .vidSld .playAll{
    position: absolute;
    display: flex;
    align-items: center;
    left: 4rem;
    bottom: 5rem;
    z-index: 2;
}
#news .playAll h3{
    margin-left: 2rem;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 800;
}
#news .playAll .play-btn{
    width: 92px;
    height: 92px;
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
#news .playAll .play-btn img{
    margin: auto;
}
#news .vidSld .gallery-cell{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#news .vidSld .gallery{
    width: 100%;
}
#news .vidSld .flickity-page-dots {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 3rem;
    top: 50%;
    transform: translateY(-30%);
}
#news .vidSld .dot{
    margin-top: 2rem;
}
#news .vidSld .item-img{
    width: 100%;
    height: 100%;
    position: relative;
}
#news .vidSld .item-img img{
    position: absolute;
    right: 20%;
    top: 20%;
}
#news .newItem{
    display: flex;
    width: 33.333333%;
    padding-right: 5rem;
}
#news .newItem .newImg{
    width: 30%;
    overflow: hidden;
}
#news .newItem .newImg img{
    width: 100%;
}
#news .newContent{
    width: 70%;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
}
#news .newContent h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0;
}
#news .newContent p{
    margin-top: auto;
    font-size: 1.6rem;
    color: rgb(119,119,126);
    letter-spacing: 0;
}
@media (max-width: 1200px) {
    #news .vidSld .item-img img{
        width: 40%;
        top: 5%;
        right: 10%;
    }
    #news .new4 .newImg{
        height: 60%;
    }
    #news .new4 .newContent{
        height: 40%;
    }
}
@media (max-width: 572px){
    #news .vidSld .playAll{
        bottom: 5px;
        left: 5px;
    }
    #news .playAll .play-btn{
        width: 50px;
        height: 50px;
    }
    #news .playAll .play-btn img{
        width: 16px;
    }

}
/*footer*/
#footer .container{
    max-width: 1802px;
    margin: auto;
    margin-top: 160px;
}
#footer .top{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #f5f5f5;
}
#footer .top .left{
    margin-right: auto;
}
#footer .top p::before{
    position: absolute;
    top: -20px;
    left: -46px;
    display: block;
    content: "";
    width: 2px;
    height: 44px;
    background-color: #b4d3d3;
}
#footer .top p{
    position: relative;
    padding: 0 46px;
}
#footer .bottom{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #f5f5f5;
}
#footer .bottom .left{
    margin-right: auto;
    color: rgb(119,119,126);
    font-size: 1.5rem;
}
#footer .bottom .icon{
    width: 16px;
    height: 16px;
    margin-left: 36px;
}