
#header .container{
    max-width: 1940px;
    /* height: 1140px; */
    padding-left: 5.5rem;
    padding: 0;
    position: relative;
}

#header .topRight{
    width: 243px;
    height: 543px;
    background-color: #b4d3d3;
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
}
#header .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem;
    position: absolute;
    top: 0;
    left: 0;
}
#header .navbar .left{
    width: 35%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
}
#header .navbar .left .menu{
    max-width: 0;
    overflow: hidden;
}
#header .navbar .left a{
    padding-left:4rem;
}
#header .iconMenu{
    width: 20px;
    height: 14px;
    cursor: pointer;
}
#header .navbar .center{
    width: 45%;
    display: flex;
}
#header .navbar .center a{
    margin: auto;
}
#header .navbar .right{
    width: 20%;
    display: flex;
}
#header .navbar .right img{
    margin-left: auto;
}
@media (max-width: 768px){
    #header .navbar .left .menu{
        max-width: 0;
    }
}
@media (max-width: 572px){
    #header .navbar .left{
        width: 20%;
    }
    #header .navbar .center{
        width: 60%;
    }
    #header .navbar .right{
        width: 20%;
    }
    #header .navbar .center img{
        width: 150px;
    }
    #header .navbar .left .menu{
        position: absolute;
        flex-direction: column;
        top: 10rem;
        background: #ffffff;
        width: 50%;
        border-radius: 0 0 10px 10px;
        box-shadow: 2px 5px 8px #888888;
    }
    #header .navbar .left .menu a{
        display: block;
        width: 100%;
        padding: 2rem;
    }
}
#header .content{
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
}
#header .content .left{
    width: 50%;
    padding: 0 0 0 5.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}
#header .content .left .newImg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    overflow: hidden;
}
#header .content .newImg img{
    height: 100%;
}
#header .bg-holder{
    width: 40%;
    height: 58vw;
    max-height: 1083px;
    background: linear-gradient(#e2e8e8 50%,#56575a);
    position: absolute;
    z-index: 0;
    overflow: hidden;
}
#header .bg-holder .newImg img{
    width: 100%;
}
#header .bg-holder .info{
    position: absolute;
    right: 0;
    bottom: 200px;
    max-width: 616px;
    padding-right: 10.8rem;
    padding-left:4rem;
}
#header .bg-holder .info p{
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 20px;
}
#header .bg-holder .info h3{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
}
#header .bg-holder .info h3::after{
    content: "";
    width: 10.8rem;
    height: 0.9rem;
    background-color: #ffffff;
    position: absolute;
    right: -10.8rem;
    top: 2rem;
}
#header .content .icons{
    position: absolute;
    top: 15vw;
}
#header .content .icon{
    width: 16px;
    height: 16px;
    margin-bottom: 3.5rem;
}
#header .profile-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 37.2rem;
    height: 11.3rem;
    background-color: #b4d3d3;
    text-align: center;
    display: flex;
}
#header .profile-btn p{
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 11.3rem;
    color: #000000;
    width: 26.3rem;
}
#header .profile-btn .icon-user{
    width: 11.3rem;
    height: 11.3rem;
    background-color: #ffffff;
    display: flex;
    margin-left: auto;
}
#header .icon-user img{
    margin: auto;
}
#header .content .center{
    width: 50%;
    padding-right:4rem;
    padding-top: 15rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#header .center .half{
    width: 50%;
    padding-right:4rem;
    padding-bottom:4rem;
}
#header .center .full{
    width: 100%;
    padding-right:4rem;
    padding-bottom:4rem;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
}
#header .center .newItem{
    width: 100%;
    margin: auto;
    margin-top:4rem;
}
#header .center .newItem:last-child{
    margin-bottom: 0;
}
#header .center .newItem:first-child{
    margin-top: 0;
}
#header .center .newItem .newImg{
    width: 50%;
    overflow: hidden;
}
#header .center .newItem .newImg img{
    width: 100%;
}
#header .center .newItem .newContent{
    width: 50%;
    margin-left: 2rem;
}
#header .center .newItem2 .newImg{
    width: 100%;
    max-height: 320px;
    height: 16vw;
    overflow: hidden;
}
#header .center .newItem2 .newImg img{
    position: relative;
    left: -7rem;
}
#header .center .newItem2 .newContent{
    margin-top: 2rem;
    height: 13rem;
}
#header .center .newContent h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0;
    overflow: hidden;
}
#header .center .newContent p{
    margin-top: auto;
    font-size: 1.6rem;
    letter-spacing: 0;
    color: rgb(119,119,126);
}
#header .gallery .itemImg{
    margin: auto;
    width: 100%;
    max-height: 607px;
    overflow: hidden;
    position: relative;
}
#header .gallery .itemImg img{
    width: 100%;
}
#header .gallery .itemInfo{
    margin-top: auto;
    height: 10rem;
    margin-top:4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#header .gallery h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0;
}
#header .gallery p{
    margin-top: auto;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(119,119,126);
    letter-spacing: 0;
}
#header .dot{
    width: 7px;
    height: 7px;
}
#header .flickity-page-dots .dot.is-selected {
    width: 15px;
    height: 15px;
}
#header .gallery .gallery-cell{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#header .flickity-prev-next-button {
    display:none;
}
#header .gallery .flickity-page-dots {
    position: absolute;
    bottom: 25%;
}
#header .trend{
    grid-area: trend;
    max-height: 631px;
    max-width: 955px;
    position: relative;
    display: inline-flex;
}
#header .trend .itemContent{
    margin-top: auto;
    width: 100%;
}
#header .trend .info{
    margin-top: auto;
}
#header .trend .info img{
    display: none;
}
#header .trend .info h3{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-top: 3rem;
}
#header .trend .info p{
    margin-top: 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(119,119,126);
}
#header .trend .itemImg{
    max-width: 955px;
    overflow: hidden;
    background-color: #e2e8e8;
    position: relative;
}

#header .trend .itemImg img{
    width: 100%;
}
#header .trendTag{
    width: 21rem;
    height: 6rem;
    position: absolute;
    top: 1rem;
    right: 6.5rem;
    line-height: 6rem;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.4rem;
    font-weight: 800;
}
#header .content .box-bot{
    background: #1a1a1d;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    display: flex;
    align-items: center;
}
#header .content .box-bot p{
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    letter-spacing: 0;
}
#header .content .box-bot span{
    font-style: italic;
    font-weight: 800;
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .bg-holder{
        display: none;
    }
    #header .content .left{
        width: 15%;
    }
    #header .content .center{
        width: 85%;
    }
}

@media (max-width: 768px) {
    #header .center .newItem2 .newImg img{
        left: 0;
        width: 100%;
        height: auto;
        top: -15%;
    }
    #header .content .icons{
        top: 25vw;
    }
    #header .icon img{
        width: 12px;
        height: 12px;
    }
}
@media (max-width: 576px) {
    #header .half:nth-child(1),
    #header .half:nth-child(2){
        width: 100%;
    }
    #header .center .newItem .newImg{
        width: 30%;
    }
    #header .center .newItem .newContent{
        width: 70%;
    }
}

/*talent*/
#talent .container{
    padding-top: 70px;
    max-width: 1682px;
    margin: auto;
}
#talent .title{
    max-width: 1488px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
}
#talent .title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    margin-bottom: 70px;
    letter-spacing: 0;
    font-weight: 400;
    position: relative;
}
#talent .title h2::after{
    content: "";
    width: 14.3rem;
    height: 0.2rem;
    background-color: #1a1a1d;
    position: absolute;
    bottom: -5rem;
    left: 0;
}
#talent .title p{
    margin-left: auto;
    max-width: 566px;
    width: 60%;
    font-size: 1.6rem;
    color: rgba(118,118,121);
    padding-top: 15px;
}
#talent .content{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#talent .content > a{
    width: 25%;
}
#talent .item{
    width: 100%;
    position: relative;
}
#talent .item > img{
    width: 100%;
}
#talent .item .item-btn{
    width: 5.8rem;
    height: 5.8rem;
    background-color: #b4d3d3;
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 2.1rem;
    display: none;
}
#talent .item .item-content{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 5rem;
    color: #ffffff;
    display: none;
}
#talent .item-content h3{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 18px;
}
#talent .item-content p{
    font-weight: 800;
    font-size: 1.2rem;
}
#talent .content .selected > img{
    background-color: rgba(45, 47, 51,0.5);
    filter: brightness(50%);
}
#talent .content .selected > *{
    display: block;
}
#talent .clients .talent-carousel{
    width: 100%;
}
#talent .carousel-cell {
    width: 25%;
}
#talent .carousel-cell .item{
    width: 100%;
    position: relative;
}
#talent .carousel-cell .item > img{
    width: 100%;
}
#talent .bottom{
    padding: 5.8rem 0;
}
#talent .bottom a{
    display: block;
    width: 22.6rem;
    height: 6.3rem;
    line-height: 6.3rem;
    text-align: center;
    background-color: #b4d3d3;
    color: #ffffff;
    border-radius: 6.3rem;
    font-weight: 800;
    font-size: 1.4rem;
}


@media (max-width: 768px){
    #talent .carousel-cell {
        width: 33.333333%;
    }
    #talent .item-btn img{
        width: 10px;
    }
}
@media (max-width: 572px){
    #talent .carousel-cell {
        width: 50%;
    }
}
/*footer*/
#footer .container{
    max-width: 1802px;
    margin: auto;
    margin-top: 16rem;
}
#footer .top{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 1px solid #f5f5f5;
}
#footer .top .left{
    margin-right: auto;
}
#footer .top p::before{
    position: absolute;
    top: -20px;
    left: -4.6rem;
    display: block;
    content: "";
    width: 2px;
    height: 44px;
    background-color: #b4d3d3;
}
#footer .top p{
    position: relative;
    padding: 0 4.6rem;
}
#footer .bottom{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 1px solid #f5f5f5;
}
#footer .bottom .left{
    margin-right: auto;
    color: rgb(119,119,126);
    font-size: 1.5rem;
}
#footer .bottom .icon{
    width: 16px;
    height: 16px;
    margin-left: 3.6rem;
}