* {
    padding: 0;
    margin: 0%;
}
.container {
    width: 100%;
    margin: 150px 0 50px 0;
    .apps {
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width : 1662px){
            width: 100%;
            margin: auto;
            .app__info{
                @media screen and (max-width : 1330px){
                    width: 600px;
                }
            }
            @media screen and (max-width : 1330px){
                .app__img{
                    width: 500px;
                }
            }
        }
        .app__img {
            object-fit: contain;
        }
        .app__info {
            width: 455px;
            margin-left: 30px;
            h1 {
                font-size: 38px;
                font-family: poppinsSB;
                font-weight: 600;
                margin-top: 40px;
                flex: 0 0 auto;
            }
            > p {
                margin-bottom: 100px;
                flex: 0 0 auto;
            }
            .app__info__features {
                display: flex;
                margin-top: 60px;
                flex: 0 0 auto;
                .app__info__features__detail {
                    margin-left: 40px;
                }
            }
            .img {
                object-fit: contain;
            }
        }
    }
}
