* {
  padding: 0;
  margin: 0;
}

main {
  margin: auto;
  background-image: url(../../images/backtop.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  width: 100%;
}

main .content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  main .content {
    width: 90%;
  }
}

@media screen and (max-width: 769px) and (max-width: 426px) {
  main .content {
    padding: 0;
    width: 95%;
  }
}

main .content .content__info {
  text-align: left;
  width: 30%;
  margin-right: 100px;
}

@media screen and (max-width: 1330px) {
  main .content .content__info {
    width: 50%;
  }
}

@media screen and (max-width: 1330px) and (max-width: 769px) {
  main .content .content__info {
    margin: auto;
    width: 75%;
  }
}

@media screen and (max-width: 1330px) and (max-width: 769px) and (max-width: 426px) {
  main .content .content__info {
    width: 90%;
  }
}

main .content .content__info h3 {
  width: 55%;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.39);
  padding: 5px 30px 5px 30px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: url(../../images/banged.png);
  background-position: left;
  background: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1330px) {
  main .content .content__info h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1330px) and (max-width: 769px) {
  main .content .content__info h3 {
    width: 70%;
  }
}

@media screen and (max-width: 1330px) and (max-width: 769px) and (max-width: 321px) {
  main .content .content__info h3 {
    font-size: 12px;
  }
}

main .content .content__info h1 {
  font-family: poppinsSB;
  font-size: 60px;
  font-weight: 600px;
}

@media screen and (max-width: 1330px) {
  main .content .content__info h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1330px) and (max-width: 426px) {
  main .content .content__info h1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 1330px) and (max-width: 426px) and (max-width: 321px) {
  main .content .content__info h1 {
    font-size: 40px;
  }
}

main .content .content__info p {
  font-size: 20px;
  color: #626262;
}

@media screen and (max-width: 1330px) {
  main .content .content__info p {
    font-size: 16px;
  }
}

main .content .content__info .container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
}

main .content .content__info .container .tryit {
  cursor: pointer;
  width: 180px;
  height: 60px;
  line-height: 55px;
  font-size: 16px;
  background-color: #2034e6;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: 700;
}

main .content .content__info .container .tryit:hover {
  background-color: #2034e6e1;
  color: #f97350;
}

main .content .content__info .container .tryit a {
  text-decoration: none;
  color: #ffffff;
}

main .content .content__info .container .demo {
  margin-left: 30px;
  color: #9918e4;
  font-size: 18px;
  cursor: pointer;
}

main .content .content__img {
  -o-object-fit: contain;
     object-fit: contain;
}

main .content .content__img img {
  -webkit-box-shadow: 5px 0px 15px 10px #88888859;
          box-shadow: 5px 0px 15px 10px #88888859;
  border: none;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  width: 100%;
}

@media screen and (max-width: 1330px) {
  main .content .content__img {
    width: 250px;
  }
}

@media screen and (max-width: 1330px) and (max-width: 769px) {
  main .content .content__img {
    width: 350px;
  }
}

@media screen and (max-width: 1330px) and (max-width: 769px) and (max-width: 426px) {
  main .content .content__img {
    width: 270px;
  }
}
/*# sourceMappingURL=Main.css.map */