.month{display: flex;margin: 0 auto; justify-content: center; padding-top: 7%;  }
.free-month{width: 25%;}
.pro-month{width: 25%;}

.month-1>p>span{font-size: 4em;font-weight: bold;color: indigo;}
.month-1>p,.month-1>div{font-size: 1.2em;color: grey; margin-top: 2%;}
.month-2{color: grey;margin-top: 10%; font-size: 1.2em;}
.month-2>p{margin-top: 10%;}
.pro-month>p{margin-top: 5%;}
.free-month{margin: 0 ; text-align: center;}
.pro-month{border: 1px solid grey;margin: 0 ; text-align: center;}
.pro-month button{font-size: 1em;
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border-radius: 45px;
    border: none;
margin-top: 10%;}
.free-month button{font-size: 1em;
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border-radius: 45px;
    border: none;margin-top: 10%;}

.meet{display: flex; ;margin: 5% 0 0 0 ;}
.meet-img{flex: 1.2;
    border-radius: 5px;
    
    width: 110%;}
.meet-text{flex: 1;
    text-align: left;
        margin: 0;
    }
.meet-text>h3{font-size: 2em; }
.meet-text>p{font-size: 0.8em; color: grey; margin: 4% auto}
.meet-text>i{color: gold; margin-bottom: 5%;}
.ceo{padding-top: 10%; display: flex; } 
.ceo>div>p{color:grey;}
.ceo>div{color: indigo; padding-left: 5%;padding-top: 6%;}
.ceo>div>i{color:blue;float: right;}

.meet-two{margin: 5% auto;text-align: center;}
.meet-two>h3{font-size: 2em;width: 40%;margin: 0 auto;color: blue;}
.meet-two>p{color: gray; font-size: 0.9em; width: 50%;margin: 0 auto;}

.contact{width: 60%;text-align:left;margin: 0 auto;}
.contact-a{padding-bottom: 5%;}
.contact-a>h4{font-size: 1.2em;color: blue;padding-bottom: 3%;}
.contact-b{display: flex; padding-top: 4%;}
.contact-b>i{margin-left: 58%;}
.contact-b>p{color: grey;}


.download{display: flex;align-items: center;}
.download-img{flex: 1.4;
    border-radius: 5px;padding-top: 10%;
}
.download-text{flex: 1;
    text-align: left; width: 40%;
    
    }
.download-img>img{width:98%;}
.download-text>h3{font-size: 2em;color: blue;padding-bottom: 3%;}
.download-text>p{color: grey; }
.download-text_logo{display: flex;padding-top: 5%;}
.download-text_logo>img:nth-child(1){padding-right: 10%;}